<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>
      <ul>
        <% document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <div class="control">
          <%= form.text_field :title, class: "input is-large", placeholder: "Title" %>
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.rich_text_area :body %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit class: 'button is-link' %>
  </div>
<% end %>
