<section class="section">
  <div class="container">
    <%= render 'form', document: @document %>
    <br>
    <div class="buttons">
      <%= link_to 'Read', @document, class: 'button is-success' %>
      <%= link_to 'Back', documents_path, class: 'button' %>
    </div>
  </div>
</section>
