<section class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="columns is-multiline is-vcentered">
      <div class="column is-3 has-text-centered">
        <%= link_to new_document_path do %>
          <span class="icon is-large">
            <i class="fas fa-plus has-text-link"></i>
          </span> <br>
          <span class="has-text-link has-text-weight-semibold">New Document</span>
        <% end %>
      </div>
      <% @documents.each do |document| %>
        <div class="column is-3 has-text-centered">
          <%= link_to document do %>
            <figure class="image is-128x128">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
