<section class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="hero">
      <div class="hero-body has-text-centered">
        <p class="title">
          <%= @document.title %>
        </p>
      </div>
    </div>
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <%= @document.body %>
          </div>
        </div>
      </article>
    </div>
    <%= link_to 'Edit', edit_document_path(@document), class: 'button is-info' %>
    <%= link_to 'Back', documents_path, class: 'button' %>
  </div>
</section>
