<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <p class="has-text-weight-semibold has-text-grey">Online Word Processor</p>
      </a>
    </div>
  </div>
</nav>
</div>
